* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
.container {
  max-width: 1400px;
}




#top-message-bar {
  background-color: hsla(83, 55%, 60%, 1);
  text-align: center;
  color: white;
  padding: 1px;
  margin: 0 auto;
}

#top-area {
  background-color: grey;
  height: 600px;
}


